.App {
    width: 100%;
    height: 100%;
    display: flex;
}

.editor {
    width: 70%;
    height: 100%;
    background-color: #eee;
}

.controls {
    width: 30%;
    height: 100%;
    background-color: #aaa;
}

.svg {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}
